In [ ]:
class Employee:
    raise_amount = 1.04
    num_of_emps = 0
    
    def __init__(self, first: str, last: str, role: str, pay: float):
        self.first = first
        self.last = last
        self.role = role
        self.pay = pay
        
        self.email = f"{first.lower()}.{last.lower()}@gmail.com"
        Employee.num_of_emps += 1

    
    def fullname(self):
        return f"{self.first} {self.last}"

    def apply_raise(self):
        # self.pay  =  int(self.pay * Employee.raise_amount) 
        self.pay  =  int(self.pay * self.raise_amount)


    # general amount
    @classmethod
    def set_raise_amount(cls, amount):
        cls.raise_amount = amount 
    
    @classmethod
    def from_string(cls, emp_str: str):
        first, last, role, pay = emp_str.split("-")
        
        return cls(first, last, role, float(pay))

    @staticmethod
    def is_workday(day):
        d_num = day.weekday()

        return True if d_num not in (5, 6) else False

        
        

emp_1  = Employee('Corey', 'Schafer', 'Intern', 2000)
emp_2 = Employee('John', 'Cena', 'Fighter', 10000)

# emp_3 = Employee.from_string("Guilherme-Tanigawa-Intern-1000")

# print(emp_3.__dict__)

IndentationError: expected an indented block after function definition on line 35 (3156500916.py, line 39)